# OS X
.DS_Store
# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
# CocoaPods
Pods
# Intellij
.idea/
*.iml
*.iws
# Calabash
test-reports/
build_output
archive_name.txt
exit.out
analysis
object_file_dir.txt
coverage.xml

#Build files
app/
Package.itmsp
OSMaps/Analytics/OSMapsAnalyticsEvents.m
compile_commands.json
.bundle
vendor
screenshots
OSMapsTests/OSMaps-Swift.h
